header {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
}

.btn-lg:hover {
    cursor: pointer;
}

.remove-bullet {
    list-style-type: none;
    padding: 0px;
}

.forcast-color {
    color: #fff;
    background-color: #257bd7;
}
